# Gradle
.gradle/
build/
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs & misc
*.log
*.tmp
